@require '../../../../stylus/variables.styl'

.block-header
	width 100%
	float left
	box-sizing border-box
	padding 60px 90px

	h1
		margin 10px 0

	p
		margin 5px 0
		width 100%
		float left
		max-width 800px
