@require '../../../../stylus/variables.styl'

.jumbotron
	width 100%
	box-sizing border-box
	padding 150px 90px 90px
	background-color $jumbotronBackground
	color $jumbotronColor
	background-size cover
	background-repeat no-repeat
	background-position center

	h1
		margin 0 auto 20px
		font-size 46px
		letter-spacing .03em
		max-width $contentMaxWidth

		&:before
			position absolute
			left 0
			right 0
			width 100%
			text-align center
			top 60px
			font-size 22px
			color $jumbotronLink

	a
		color $jumbotronLink

		&:hover
			color $jumbotronLinkHover
