@require '../../../../stylus/variables.styl'

.jumbotron
	width 100%
	float left
	box-sizing border-box
	padding 90px
	margin-bottom 30px
	background $jumbotronBackground
	color $jumbotronColor

	h1
		margin 0 0 20px
		font-size 46px
		letter-spacing .03em
