@require '../../../../stylus/variables.styl'

.chart-wrapper
	width 100%
	display block
	margin-left auto
	margin-right auto
	max-width $contentMaxWidth + 320px

.chart
	padding 30px 30px 40px
	margin-bottom 0
	position relative
	border-bottom 1px solid darken($stripBackground, 5%)

	&,
	h2,
	cite,
	svg,
	.loading-overlay
		box-sizing border-box
		width 100%

	&.alt
		background-color $stripBackground

	.aside &
		@media screen and (min-width 960px)
			width 50%
			display inline-block

			&:first-child
				padding-right 0

			&:last-child
				padding-left 0

	svg
		height 320px
		display block

	h2
		padding 0
		margin-left auto
		margin-right auto
		margin-bottom 5px
		max-width $contentMaxWidth

	h2,
	cite
		display block
		text-align center

	cite
		margin-bottom 40px
		color lighten($textColor, 30%)

	.c3 path,
	.c3 line
		stroke darken($backgroundColor, 40%)

	&.alt .c3 path,
	&.alt .c3 line
		stroke darken($stripBackground, 30%)

	.loading-overlay
		position absolute
		top 0
		left 0
		text-align center
		height 100%
		z-index 1
		line-height 320px
		background rgba($backgroundColor, .8)
		transition opacity 300ms ease-out
		opacity 1

	&.loaded
		.loading-overlay
			opacity 0
			pointer-events none

	.c3-tooltip
		box-shadow none

		th
			background-color $textColor
