.chart
	padding 20px 30px 40px
	margin-bottom 0
	position relative
	border-bottom 1px solid darken(white, 20%)

	&,
	h2,
	svg,
	.loading-overlay
		box-sizing border-box
		width 100%
		float left

	svg
		height 320px

	h2
		padding 0 60px

	.loading-overlay
		position absolute
		top 0
		left 0
		text-align center
		height 100%
		z-index 1
		line-height 320px
		background rgba(darken(white, 5%), .8)
		transition opacity 300ms ease-out
		opacity 1

	&.loaded
		.loading-overlay
			opacity 0
			pointer-events none

	.c3-tooltip
		box-shadow none

		th
			background-color darken(white, 90%)
