
body,
.c3 svg
	font-family 'Lato', sans-serif;

body
	background darken(white, 10%)

.block-header
	width 100%
	float left
	box-sizing border-box
	padding 60px

	h1
		margin 10px 0

	p
		margin 5px 0
		width 100%
		float left
		max-width 800px
