@require 'variables.styl'

body
	color $textColor
	font-family $textFontFamily
	background $jumbotronLink url(../content/images/ajax-loader.gif) no-repeat center 42vmin
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	height 100%
	position relative

h1,
h2,
h3,
h4,
h5,
h6
.c3 svg
	font-family $headlineFontFamily

a,
.c3-legend-item text
	transition all 200ms ease
	color $link
	fill $link
	text-decoration none

.c3-legend-item-focused text,
a:hover
		color $linkHover
		fill $linkHover

.c3-legend-item text
	-webkit-font-smoothing subpixel-antialiased
	-moz-osx-font-smoothing initial

span.thin-space
	font-size inherit
	line-height inherit
	font-weight 300
	padding 0
	margin 0
	position static
	display inline-block
	width .06em

#main-container > div
	margin-top 4px
	background-color $backgroundColor
	transition opacity 600ms ease-out
	opacity 0

	&.loaded
		opacity 1
