@require 'variables.styl'

body
	color $textColor
	font-family $textFontFamily
	background $backgroundColor
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

h1,
h2,
h3,
h4,
h5,
h6
.c3 svg
	font-family $headlineFontFamily

a
	transition all 200ms ease
	color $link

	&:hover
		color $linkHover

span.thin-space
	font-size inherit
	line-height inherit
	font-weight 300
	padding 0
	margin 0
	position static
	display inline-block
	width .06em
