// Base layout
$backgroundColor = #f4f3f0;
$contentMaxWidth = 800px;

// Normal text
$textFontFamily = 'Lora', serif;
$textColor = #1f313b;

// Headlines
$headlineFontFamily = 'Open Sans', sans-serif;

// Links
$link = #5eabdb;
$linkHover = #db6c58;

//### COMPONENTS ###//
// Jumbotron
$jumbotronBackground = $textColor;
$jumbotronColor = $backgroundColor;
$jumbotronLink = #51c181;
$jumbotronLinkHover = #e8ab44;

// Blockquote
$blockquoteColor = $textColor;
$jumbotronBlockquoteColor = $jumbotronColor;
