// Base layout
$backgroundColor = darken(white, 5%);
$contentMaxWidth = 800px;

// Normal text
$textFontFamily = 'Lora', serif;
$textColor = #222B2D;

// Headlines
$headlineFontFamily = 'Open Sans', sans-serif;

// Links
$link = #799A48;
$linkHover = #FAA916;

//### COMPONENTS ###//
// Jumbotron
$jumbotronBackground = $textColor;
$jumbotronColor = $backgroundColor;

// Blockquote
$blockquoteColor = $textColor;
$jumbotronBlockquoteColor = $jumbotronColor;
