// Base layout
$backgroundColor = #f4f3f0;
$contentMaxWidth = 800px;

// Normal text
$textFontFamily = 'Lora', serif;
$textColor = #1f313b;

// Headlines
$headlineFontFamily = 'Open Sans', sans-serif;

// Links
$link = #cf4e43;
$linkHover = #e8ab44;

// Alternatives
$altBackgroundColor = $textColor;
$altTextColor = $backgroundColor;
$altLink = $link;
$altLinkHover = $linkHover;


//### COMPONENTS ###//
// Jumbotron
$jumbotronBackground = $altBackgroundColor;
$jumbotronColor = $altTextColor;
$jumbotronLink = $altLink;
$jumbotronLinkHover = $altLinkHover;

// Blockquote
$blockquoteColor = $textColor;
$jumbotronBlockquoteColor = $jumbotronColor;

// Strips
$stripBackground = desaturate(lighten(#5eabdb, 80%), 95%);
