blockquote
	margin: 0
	padding 4px 0 6px 70px
	font-size 28px
	font-style italic
	font-weight 300
	letter-spacing .01em
	border-left 4px solid rgba(white, .2)
	color $blockquoteColor
	quotes: "\201C""\201D""\2018""\2019"

	&:before
		position absolute
		font-size 80px
		font-family georgia
		color rgba(white, .2)
		content open-quote
		margin-left -53px
		margin-top -6px

	p
		margin 0
		padding 0

	footer cite
		font-style normal

		&:before
			content "—"
			margin-right 10px
			color rgba(white, .2)
